body {
  font-size: 2em;
  margin: 0;
  padding: 1em;
  display: flex;
  height: 70vh;
  align-items: flex-end;
  justify-content: center;
}

input, button {
  text-align: center;
  display: block;
  width: 100%;
}

button {
  padding: 1em;
}
